{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% block form_row %}
    <div>
        {{- form_label(form) -}}<br>
        {{- form_errors(form) -}}
        {{- form_widget(form) -}}
    </div>
{% endblock %}

{% block content %}
    <div id="registrationForm">	
    <span id="registrationTitle">Rejestracja</span>
        {{ form_start(form) }}
            {{ form_row(form.login) }}
            {{ form_row(form.AdresEmail) }}
            {{ form_row(form.plainPassword.first) }}
            {{ form_row(form.plainPassword.second) }}
            {{ form_row(form.imie) }}
            {{ form_row(form.nazwisko) }}
            {{ form_row(form.Pesel) }}
            {{ form_row(form.ulica) }}
            {{ form_row(form.nr_domu_nr_mieszkania) }}
            {{ form_row(form.kod_pocztowy) }}
            {{ form_row(form.miasto) }}
            {{ form_row(form.kraj) }}
            {{ form_row(form.nr_telefonu) }}
            
            {#{% for error in errors %}
                <span style="color: red;">{{ error.message }}</span><br>
            {% endfor %}#}
            
            <br>
            <button type="submit">Rejestracja</button>
        {{ form_end(form) }}
    </div>              
{% endblock %}